<%
var page = {
  title : 'Osamu Hatakeyama 脱退のお知らせ',
  url : '20170701_1.html',
  date: '2017.07.01'
}
%>
<%- include('../_partial/_head-child.ejs',{page:page}) %>
<body>
<%- include('../_partial/_header-child.ejs',{page:page}) %>
<main class="main-container js-header-hidden__content">
  <%- include('../_partial/_key-visual.ejs',{page:page}) %>
  <div class="container">
    <div class="container__inner block-group">
      <section class="block-primary">
        <div class="entry">
          <h2 class="heading01">コメント</h2>
          <div class="text-unit">
            <p>6月30日を持ちましてGt.Osamuが脱退する運びとなりました。何度も話し合いを重ね、全員が納得の行く方針を検討したところこういった結論に至りました。Osamuとは音楽を通じた別の形で関わり合って行く予定です。Osamuの今後の活動、Ashglowの活動共々よろしくお願いします。</p>
            <p>短い期間ではありましたがOsamuと音楽を共有できた全ての時間が楽しく心地良かったです。ありがとう。またよろしく。</p>
          </div>
          <blockquote class="blockquote">
            <p>皆さんこんにちは<br>
            Ashglowギター担当畠山蔵です。<br>
            この度Ashglowを脱退する事になりました。</p>
            <p>脱退といっても同じステージに立って演奏する事がなくなるだけで、別の形でメンバー達とは関わり共に上を目指していく予定です。<br>
            特に喧嘩別れでは無いのでご安心を笑</p>
            <p>どんどん形を変え、変化を楽しんでいくAshglowと僕をこれからも応援よろしくお願いします！<br>
              約１年程の短い時間でしたがありがとうございました(((o(*ﾟ▽ﾟ*)o)))</p>
            <cite class="blockquote-cite">Osamu Hatakeyama</cite>
          </blockquote>
        </div>
      </section>
      <%- include('../_partial/_side-bar.ejs') %>
    </div>
  </div>
</main>
<%- include('../_partial/_footer.ejs') %>







