<%
var page = {
  title : '3rd Digital Single "Beyond" Release Live',
  url : '20170915_1.html',
  date: '2017.09.15'
}
%>
<%- include('../_partial/_head-child.ejs',{page:page}) %>
<body>
<%- include('../_partial/_header-child.ejs',{page:page}) %>
<main class="main-container js-header-hidden__content">
  <%- include('../_partial/_key-visual.ejs',{page:page}) %>
  <div class="container">
    <div class="container__inner block-group">
      <section class="block-primary">
        <div class="entry">
          <h2 class="heading01">"Beyond" リリースライブ発表</h2>
          <figure class="img-container"><img class="img-responsive" src="../assets/img/entry/ash_beyond_add01.jpg" alt="Beyond"></figure>

          <div class="text-unit">
            <p>Ashglow3ヶ月連続シングルリリースの第二段となります"Beyond"のリリースライブの情報が解禁されましたので発表させて頂きます。<br>この発表と同時にチケット予約の受付を開始致します。</p>　
              <p>チケット予約はページ下部にあります<a href="#ticketForm">チケット予約はコチラ</a>ボタンからリンク先の11月15日公演チケット予約フォームよりご予約下さい。</p>
            <p>なおデジタル音源のリリース日・配信先情報などの詳細情報につきましては後日発表をさせて頂きます。</p>
          </div>

          <h2 class="heading02">イベント情報</h2>
          <table class="table01">
            <tr>
              <th>日時</th>
              <td>11月15日（水）</td>
            </tr>
            <tr>
              <th>場所</th>
              <td><a href="http://www.queblick.com/" target="_blank">福岡 Queblick</a></td>
            </tr>
            <tr>
              <th>公演名</th>
              <td>----</td>
            </tr>
            <tr>
              <th>出演</th>
              <td>Ashglow /STEP UP BOYS (カリ) / シンガロンパレード / ふらっと♭ /etc…</td>
            </tr>
            <tr>
              <th>時間</th>
              <td>開場 : 18:00 / 開演 : 18:30</td>
            </tr>
            <tr>
              <th>価格</th>
              <td>前売2,000円 / 当日2,500円<br> + 別途1ドリンクオーダー500円</td>
            </tr>
          </table>

          <div class="btn-group--center">
            <a id="ticketForm" href="https://docs.google.com/forms/d/1bW5rTMHPqxE_TuRD68J1esAsGb0AJnPa_M2hFAxs6_M/edit" class="btn btn01--primary" target="_blank">チケット予約はコチラ</a>
          </div>
        </div>
      </section>
      <%- include('../_partial/_side-bar.ejs') %>
    </div>
  </div>
</main>
<%- include('../_partial/_footer.ejs') %>








