<%
var page = {
  title : '新メンバー加入、リリースのお知らせ',
  url : '20170701_2.html',
  date: '2017.07.01'
}
%>
<%- include('../_partial/_head-child.ejs',{page:page}) %>
<body>
<%- include('../_partial/_header-child.ejs',{page:page}) %>
<main class="main-container js-header-hidden__content">
  <%- include('../_partial/_key-visual.ejs',{page:page}) %>
  <div class="container">
    <div class="container__inner block-group">
      <section class="block-primary">
        <div class="entry">
          <h2 class="heading01">Gt.Masato Usuma (ex.SOAR OF LIBERTY)</h2>
          <figure class="img-container"><img class="img-responsive" src="../assets/img/common/artist01.jpg" alt=""></figure>
          <div class="text-unit">
            <p>本日よりAshglowにGt.まさと(ex.SOAR OF LIBERTY)が加入しました<br>それに伴い10月から3ヶ月連続シングルリリース決定!!さらに１０月から3ヶ月連続リリースライブも行います。</p>
            <p>今後は新しい4人でライブや音源制作などしていきますのでよろしくお願いします。<br>リリース日など詳細は後日発表しますのでお楽しみに。</p>
          </div>
          <h2 class="heading02">コメント動画</h2>
          <div class="video-container">
            <iframe width="100%" height="" src="https://www.youtube.com/embed/AUFQSjUaCaE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <%- include('../_partial/_side-bar.ejs') %>
    </div>
  </div>
</main>
<%- include('../_partial/_footer.ejs') %>








