<%
var page = {
  title : 'Appear lance',
  url : 'appearlance',
  date: '2017.9',
  noindex : true,
  prepro:'https://www.dropbox.com/s/asdqtmwvdtifhs2/appear%20lance_%E3%83%97%E3%83%AA%E3%83%97%E3%83%AD%203.mp3?dl=0',
  sync:'https://www.dropbox.com/sh/o8hudeqoww45x3s/AAChuuBbaSeTEiLxlnf6Whmga?dl=0',
  trackPdf:'https://www.dropbox.com/s/cms029fon3xn4ba/appearance.pdf?dl=0',
  guitarPdf:'https://www.dropbox.com/s/0m7yr8u33ex3w02/appearance_guitar.pdf?dl=0'
}
%>
<%- include('../_partial/_head-child.ejs',{page:page}) %>
<body>
<%- include('../_partial/_header-child.ejs',{page:page}) %>
<main class="main-container js-header-hidden__content">
  <%- include('../_partial/_key-visual.ejs',{page:page}) %>
  <div class="container">
    <div class="container__inner block-group">
      <section class="block-primary">
        <div class="entry">
          <div class="grid-group">
            <div class="grid--col02">
              <h3 class="heading02" id="overview">Overview</h3>
              <ul class="list01">
                <li>BPM = 180</li>
                <li>COUNT IN  = 3</li>
                <li>BASS IN   = 5</li>
                <li>DRUM IN   = 6</li>
                <li>HAT COUNT = NULL</li>
              </ul>
            </div>
            <div class="grid--col02">
              <h3 class="heading02" id="sectione">Sectione</h3>
              <ul class="list01">
                <li>INTRO     = 7</li>
                <li>1A         = 13</li>
                <li>1B         = 23</li>
                <li>間奏         = 32</li>
                <li>1S = 40</li>
                <li>間奏 = 48</li>
                <li>2A =52</li>
                <li>2B = 60</li>
                <li>2S = 68</li>
                <li>間奏 = 76</li>
                <li>間奏2 = 84</li>
                <li>3S_in = 92</li>
                <li>3S = 94</li>
                <li>3SS = 100</li>
                <li>Outro = 106
                <li>END = 115</li>
                </li>
              </ul>
            </div>
          </div>
          <div class="table01--scroll table--zebra table-highlight">
          <table>
            <tbody>
            <tr>
              <th>Section</th>
              <th>Bar</th>
              <th>Lyrics</th>
            </tr>
            <tr>
              <td>INTRO</td>
              <td>7</td>
              <td>--</td>
            </tr>
            <tr>
              <td>1A</td>
              <td>13</td>
              <td>太陽は何故こんなにも燃えてるの？<br>
                生かされている理由すら僕らは知らなくて<br></td>
            </tr>
            <tr>
              <td>2B</td>
              <td>23</td>
              <td>騒ぐ<br>
                トリップ<br>
                覚えていない<br>
                笑って<br>
                うなづいて<br>
                本当にそうかい？<br>
                自問自答に疲れ飽きて<br>
                無駄だからギターを弾く<br></td>
            </tr>
            <tr>
              <td>間奏</td>
              <td>32</td>
              <td>--</td>
            </tr>
            <tr>
              <td>1S</td>
              <td>40</td>
              <td>突き動かす感情を<br>
                無傷な奴ほど薄っぺらで<br>
                画面に写った姿<br>
                何も知らずに僕らはあざ笑う<br></td>
            </tr>
            <tr>
              <td>間奏</td>
              <td>48</td>
              <td>--</td>
            </tr>
            <tr>
              <td>2A</td>
              <td>52</td>
              <td>集う火種<br>
                止められはしないさ フォロー<br>
                触れられないモノに<br>
                触れたくなる衝動<br></td>
            </tr>
            <tr>
              <td>2B</td>
              <td>60</td>
              <td>自由の果ては規制だらけ<br>
                自分で自分追い込んでく<br>
                後から気づいても遅くて<br>
                無駄だからギターを弾く<br></td>
            </tr>
            <tr>
              <td>2S</td>
              <td>68</td>
              <td>突き動かす感情を<br>
                無傷な奴ほど薄っぺらで<br>
                画面に写った姿<br>
                何も知らずに僕らをあざ笑う<br></td>
            </tr>
            <tr>
              <td>間奏</td>
              <td>76</td>
              <td>--</td>
            </tr>
            <tr>
              <td>間奏2</td>
              <td>84</td>
              <td>--</td>
            </tr>
            <tr>
              <td>3S_in</td>
              <td>94</td>
              <td>突き動かす感情を<br>
                無傷な奴ほど薄っぺらで<br>
                わかったように言うな<br>
                無駄かどうかお前が決めんな<br></td>
            </tr>
            <tr>
              <td>3S</td>
              <td>92</td>
              <td>
                無傷な奴ほど薄っぺらで<br>
                わかったように言うな<br>
                無駄かどうかお前が決めんな<br></td>
            </tr>
            <tr>
              <td>3SS</td>
              <td>100</td>
              <td> 突き動かすこの感情<br>
                心震えるあなたの言葉<br>
                後ろ指とか知るか<br>
                何も知らない奴とか知るか<br></td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </section>
      <%- include('../_partial/_side-bar--rec.ejs',{page:page}) %>
    </div>
  </div>
</main>
<%- include('../_partial/_footer.ejs') %>







