<%
var page = {
  title : 'beyond',
  url : 'beyond.html',
  date: '2017.9',
  noindex : true,
  prepro:'https://www.dropbox.com/s/5x1lhd2rrstx27k/Beyond_%E3%83%97%E3%83%AA%E3%83%97%E3%83%AD.mp3?dl=0',
  sync:'https://www.dropbox.com/sh/ll0ajzhxg7h5l5k/AAD0hSOl89mNegJb4YCDhL4Pa?dl=0',
  trackPdf:'https://www.dropbox.com/s/puxnrlfu7y0xv9k/beyond.pdf?dl=0',
  guitarPdf : 'https://www.dropbox.com/s/fhmndxufl5fk8d0/beyond.pdf?dl=0'
}
%>
<%- include('../_partial/_head-child.ejs',{page:page}) %>
<body>
<%- include('../_partial/_header-child.ejs',{page:page}) %>
<main class="main-container js-header-hidden__content">
  <%- include('../_partial/_key-visual.ejs',{page:page}) %>
  <div class="container">
    <div class="container__inner block-group">
      <section class="block-primary">
        <div class="entry">
          <div class="grid-group">
            <div class="grid--col02">
              <h3 class="heading02" id="overview">Overview</h3>
              <ul class="list01">
                <li>BPM = 180</li>
                <li>INTRO IN =  5</li>
                <li>COUNT IN = 3</li>
                <li>HAT COUNT = NULL</li>
              </ul>
            </div>
            <div class="grid--col02">
              <h3 class="heading02" id="seciton">Seciton</h3>
              <ul class="list01">
                <li>INTRO = 2</li>
                <li>INTRO B = 21</li>
                <li>A = 38</li>
                <li>B = 54</li>
                <li>S = 61</li>
                <li>BRIDGE = 77</li>
                <li>2A = 79</li>
                <li>2S = 93/2</li>
                <li>2S = 95/2</li>
                <li>間奏 = 111</li>
                <li>3S_in = 126/2</li>
                <li>3S = 128/2</li>
                <li>SS = 142/2</li>
              </ul>
            </div>
          </div>
          <div class="table01--scroll table--zebra table-highlight">
            <table>
            <tbody>
            <tr>
              <th>Section</th>
              <th>Bar</th>
              <th>Lyrics</th>
            </tr>
            <tr>
              <td>INTRO</td>
              <td>2</td>
              <td>--</td>
            </tr>
            <tr>
              <td>INTRO B</td>
              <td>21</td>
              <td>--</td>
            </tr>
            <tr>
              <td>A</td>
              <td>38</td>
              <td>照らし出すよ in your eyes<br>
                風は強くて keep sight<br>
                I remember<br>
                幾度となく目を覚ましても透き通るかの様なアークテックブルーを覚えている<br></td>
            </tr>

            <tr>
              <td>B</td>
              <td>54</td>
              <td>run<br>
                escape<br>
                断片的なあの風景を繋ぐ<br></td>
            </tr>

            <tr>
              <td>S</td>
              <td>61</td>
              <td>Ever glide<br>
                This way<br>
                Never mind<br>
                You say<br>
                Take my hands<br>
                Call out<br>
                I think about<br>
                サウンドの中で<br>
                Into the fire<br>
                This way<br>
                Ever Right<br>
                To find<br>
                Take my hands<br>
                Call out<br>
                I think about sunrise<br>
                Beyond<br></td>
            </tr>

            <tr>
              <td>BRIDGE</td>
              <td>77</td>
              <td>--</td>
            </tr>

            <tr>
              <td>2A</td>
              <td>79</td>
              <td>静寂に耳を向ける<br>
                降り注ぐこの地に carve<br>
                いつかあの海を超える<br>
                どうすべきかは見えてる<br>
            </tr>
            <tr>
              <td>2S</td>
              <td> 93/2</td>
              <td>Ever glide
                This way<br>
                Never mind
                You say</td>
            </tr>
            <tr>
              <td>2SS</td>
              <td> 95/2</td>
              <td>
                Take my hands<br>
                Call out<br>
                I think about<br>
                サウンドの中で<br>
                Into the fire<br>
                This way<br>
                Ever Right<br>
                To find<br>
                Take my hands<br>
                Call out<br>
                I think about sunrise<br>
                Beyond<br></td>
            </tr>
            <tr>
              <td>間奏</td>
              <td>111</td>
              <td>--</td>
            </tr>

            <tr>
              <td>3S_in</td>
              <td>126/2</td>
              <td>Ever glide<br>
                This way<br></td>
            </tr>
            <tr>
              <td>3S</td>
              <td>128/2</td>
              <td>Never mind<br>
                You say<br>
                Take my hands<br>
                Call out<br>
                I think about<br>
                サウンドの中で<br>
                Into the fire<br>
                This way<br>
                Ever Right<br>
                To find<br>
                Take my hands<br>
                Call out<br>
                I think about sunrise Beyond<br></td>
            </tr>
            <tr>
              <td>SS</td>
              <td>142/2</td>
              <td>the landscape<br>
                飛び込んできた<br>
                あの感情を<br>
                響かせてヨーク<br>
                Ever glide<br>
                Beyond the landscape<br></td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </section>
		<%- include('../_partial/_side-bar--rec.ejs',{page:page}) %>
    </div>
  </div>
</main>
<%- include('../_partial/_footer.ejs') %>







