<%
var page = {
  title : 'Realize',
  url : 'realize.html',
  date: '2017.9',
  noindex : true,
  prepro:'https://www.dropbox.com/s/ubtobeewgjvlce3/Realize_%E3%83%97%E3%83%AA%E3%83%97%E3%83%ADa.mp3?dl=0',
  sync:'',
  trackPdf:'https://www.dropbox.com/s/qccupjfgrxbrczd/realize.pdf?dl=0',
  guitarPdf : 'https://www.dropbox.com/s/j1ws3zs11704yrj/realize.pdf?dl=0'
}
%>
<%- include('../_partial/_head-child.ejs',{page:page}) %>
<body>
<%- include('../_partial/_header-child.ejs',{page:page}) %>
<main class="main-container js-header-hidden__content">
  <%- include('../_partial/_key-visual.ejs',{page:page}) %>
  <div class="container">
    <div class="container__inner block-group">
      <section class="block-primary">
        <div class="entry">
          <div class="grid-group">
            <div class="grid--col02">
              <h3 class="heading02" id="overview">Overview</h3>
              <ul class="list01">
                <li>BPM = 178</li>
                <li>INTRO IN =  5</li>
                <li>COUNT IN = 3</li>
                <li>HAT COUNT = NULL</li>
              </ul>
            </div>
            <div class="grid--col02">
              <h3 class="heading02" id="section">Section</h3>
              <ul class="list01">
                <li>INTRO = 2</li>
                <li>A = 29</li>
                <li>B = 45</li>
                <li>S = 60/2</li>
                <li>間奏 = 77</li>
                <li>2A = 85</li>
                <li>2B = 101</li>
                <li>2BB =109</li>
                <li>2s = 117</li>
                <li>2s = 117</li>
                <li>Gsolo = 133</li>
                <li>C = 148/3</li>
                <li>3S = 165 |  drumin 172</li>
                <li>3CC = 181</li>
                <li>Outro = 197</li>
              </ul>
            </div>
          </div>
          <div class="table01--scroll table--zebra table-highlight">
          <table>
            <tbody>

            <tr>
              <th>Section</th>
              <th>Bar</th>
              <th>Lyrics</th>
            </tr>

            <tr>
              <td>INTRO</td>
              <td>2</td>
              <td>--</td>
            </tr>

            <tr>
              <td>A</td>
              <td>29</td>
              <td>ひとり帰る道は<br>
                こんなに広く こんなに静かで<br>
                ひとりただずんで<br>
                考える 昨日の君の言葉を<br></td>
            </tr>

            <tr>
              <td>B</td>
              <td>45</td>
              <td>さぁ 何をこっから始めよう？<br>
                あぁ なんかもっとこうしてぇな<br>
                思いが頭をかき回す<br>
                君ならどう思うか？とか<br>
                すぐ考えてしまう様だ<br>
                さぁ 瞳を閉じて Close my eyes<br></td>
            </tr>

            <tr>
              <td>S</td>
              <td>60/2</td>
              <td>逢いたいと想う想いは<br>
                僕の心を締めつけ震わせる<br>
                星が広がる夜は<br>
                何故だか貴方を求めてしまうんだ<br>
                Realize<br>
                I miss you<br></td>
            </tr>
            <tr>
              <td>間奏</td>
              <td>77</td>
              <td>--</td>
            </tr>

            <tr>
              <td>A</td>
              <td>85</td>
              <td>聴こえるBGM<br>
                どっかの店でかかってたヤツだ<br>
                あの時気づけなくて<br>
                今がなきゃきっと たどり着けなくて<br></td>
            </tr>

            <tr>
              <td>B</td>
              <td>101</td>
              <td>さぁ 今日こそは飛び立つぞ<br>
                あぁ だけどちょっと眠たいし<br>
                気づけば夜が明けてしまった<br></td>

            </tr>
            <tr>
              <td>2BB</td>
              <td>109</td>
              <td>そんな時何してる？って<br>
                すぐ考えてしまう様だ<br>
                さぁ 瞳を閉じて Close my eyes<br></td>
            </tr>

            <tr>
              <td>2S</td>
              <td>117</td>
              <td>逢いたいと願うように<br>
                きっと僕らはまだ間に合うから<br>
                街灯が照らすように<br>
                歩んでく道 照らし続けるから<br>
                Realize<br>
                Cou's I thinks<br></td>
            </tr>

            <tr>
              <td>Gsolo</td>
              <td>133</td>
              <td>--</td>
            </tr>

            <tr>
              <td>C</td>
              <td>148/3</td>
              <td>明日降りしきる雨が僕達を拒んでも<br>
                かまわないから<br>
                わかってる<br></td>
            </tr>

            <tr>
              <td>3S</td>
              <td> 165 | drumin 172</td>
              <td>会いたいと願う想いは<br>
                いつしか心を素直にさせてた<br>
                君がいる街へと<br>
                想いを伝えに羽ばたいて行くから<br></td>
            </tr>

            <tr>
              <td>3SS</td>
              <td>181</td>
              <td>会いたいと願う想いは<br>
                僕の心を締めつけ震わさせた<br>
                星が広がる今夜<br>
                貴方を迎えに羽ばたき続けてる<br>
                Realize<br>
                Stay with me<br></td>
            </tr>
            <tr>
              <td>Outro</td>
              <td>197</td>
              <td>--</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </section>
      <%- include('../_partial/_side-bar--rec.ejs',{page:page}) %>
    </div>
  </div>

</main>
<%- include('../_partial/_footer.ejs') %>







